.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.gndropdown-butt{
  float: right;
  margin-bottom: 10%;
  margin-right: 7%;
  
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.row-dashbord{
  margin-right: 5%;
} 


.row-dashbord-sep{
  margin-right: 5%;
  margin-top: 5% 
}

.mg{
  margin-top: 3%
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
