

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.gn-popup{
  height: 100vh;
  width: 100vh;
  position: fixed;
  left:0;
  right: 0;
  background-color: black;

}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.gndropdown-butt{
  float: right;
  margin-bottom: 10%;
  margin-right: 7%;
  
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.settings-list{
  cursor: pointer;

}

.settings-list-item:hover{
  background-color: #e7ebf9;
  
}

.marg-left{
  margin-right: 6%
}

.btn:focus{
  outline: none
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.row-dashbord{
  margin-right: 5%;
} 

.loadin{
  display: flex;            /* establish flex container */
  flex-direction: column;   /* align children vertically (column format) */
  justify-content: center;  /* center children vertically */
  align-items: center; 
  z-Index:100;
  align-self: center;
  position:absolute;
  background-color:chocolate;
}

.gn-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:blue;
  color: white;
  text-align: left;
}


.row-dashbord-sep{
  margin-right: 5%;
  margin-top: 5% 
}

.mg{
  margin-top: 3%;
  margin-bottom: 3%
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
